// Define variables for your color scheme

// For example:
$red: #9d1e2f; //hk2 bordo
$blue: #2167B2; //comtection blue
$orange: #F18B00; //stratup hk2 - orange
$gray: #E5E5E5; //hk2 - bg grey

//other colors (template dependences-leave it)
$light-gray: #F4F4F4;
$yellow: #FDB631;
$green: #32B796;
