.chapter-title {
      color: $red;
}

.question-title {
 // color: $gray;
}

.new-agreement-container {
  color: black;
}

.chapter-unter_titel {
  font: 50%;
  color: #9d2435c9;
  font-style: italic;

}
