// GENERAL
.agreement-container {
	color: black;
}

.button-big { // just size - combine classes
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	left: 70%;
}

.custom-white-button { // just color - combine classes
	background: white;
	color: $navy;
}

// CHAPTER
.chapter-title {
	color: white;
	background: $navy;
	padding: 18px
}

.chapter-unter_titel {
	font-size: 80%;
	color: #9d2435c9;
	font-style: italic;
}

// QUESTION
.question-title {
 // color: $gray;
}

.question-descripton {
	font-size: 80%;
	font-style: italic;
}

// CHECKBOXES && DETAILS FIELDS
.collection_check_boxes {
	font-weight: normal !important; //override simple_form - do not want to change it there
	color: grey !important;  //override simple_form - do not want to change it there
}

.details-to-checkboxes {
	width: 35% !important;
	background: $navy !important;
}
